doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Poppins:wght@600&display=swap", rel="stylesheet")
        link(rel="stylesheet", href="/css/c.css")
        title Contacto
    body 
        .title-container 
            h1.title Formularios de Contacto
        .forms-container 
            each con in x 
                .forms 
                    h2.form-data= `Nombre/s: ${con.cName}`
                    h2.form-data= `Apellido/s: ${con.cSurname}`
                    h2.form-data= `Email: ${con.cEmail}`
                    h2.form-data= `Número: ${con.cNumber}`
                    